[Desktop Entry]
Type=Application
Name=Omacut
GenericName=Video Trimmer
Comment=Dead-simple video length trimmer
Exec=omacut %f
Icon=omacut
Terminal=false
Categories=AudioVideo;Video;AudioVideoEditing;
Keywords=video;trim;cut;clip;ffmpeg;
StartupWMClass=omacut
